 *{
  margin: 0;
  padding: 0;
 }
 
 header {
    background-color: #76ABAE;
    color: white;
 }

 .cabecalho-imagem{
   width: 20%;
 }

 .cabecalho {
  background-color: #31363F;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24 PX 0;
 }

 .cabecalho-lista-item {
  display: inline-block;
  margin: o 16 px;
  font-size: 24 px;
 }